.clear-space {
    clear: both;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.recent-posts {
    float: left;
    padding: 10px 0 0;
    width: 100%;
}

.recent-posts h3 {
    font-size: 20px !important;
    margin-bottom: 0 !important;
}

.recent-posts .widget-header {
    margin: 10px 0 30px;
}

.recent-post h3 {
    font-size: 18px !important;
    margin: 0 !important;
    padding: 8px 0 10px;
    text-transform: capitalize;
}

.recent-post {
    float: left;
    margin: 0 0.4% 10px 0;
    width: 24.7%;
}

.recent-post:last-child {
    margin: 0 0 10px;
}

@media screen and (max-width: 1000px) {
    .recent-post {
        margin: 0 0.8% 10px 0;
        width: 49.6%;
    }

    .recent-post:nth-child(3) {
        margin: 0 0 10px;
    }
}

@media screen and (max-width: 500px) {
    .recent-post {
        margin: 0 0 10px;
        width: 100%;
    }
}

.recent-post .thumbnail {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.recent-post .thumbnail:hover {
    opacity: 0.5;
}
